<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <script src="../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">

    </head>
    <body>
        <div class="header">
            <h5 class="listetitle">Liste des besoins <i class="fa fa-power-off btndisconnect" aria-hidden="true"></i><i class="fa fa-plus btnajout" aria-hidden="true"></i> </h5>
            
        </div>
        <div class="container">
            <div class="input-group searchbar">
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <div class="list-group">
                <ul class='listeul'>
                    <li class="list-group-item active listeli" >
                        <div class="statut">
                            <i class="fa fa-check statuticon fa-2x" aria-hidden="true"></i>
                            <p class="statuttext">Open</p>
                        </div>
                        <div class="titleclient">
                        <h6 class="list-group-item-heading tittleRequirement">J'ai besoin d'aide wolololololol dosgo </h6>
                        <p class="list-group-item-text nameclient">Jean Michel</p>
                        </div>
                        <div class="listeboutton">
                        <p class="daterequirement">03/10/2017</p>
                            <i class="fa fa-pencil iconpencil fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-trash icontrash fa-2x" aria-hidden="true"></i>
                        </div>
                    </li>     
                    <li class="list-group-item active listeli" >
                        <div class="statut">
                            <i class="fa fa-check statuticon fa-2x" aria-hidden="true"></i>
                            <p class="statuttext">Open</p>
                        </div>
                        <div class="titleclient">
                        <h6 class="list-group-item-heading tittleRequirement">J'ai besoin d'aide</h6>
                        <p class="list-group-item-text nameclient">Jean Michel</p>
                        </div>
                        <div class="listeboutton">
                        <p class="daterequirement">03/10/2017</p>
                            <i class="fa fa-pencil iconpencil fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-trash icontrash fa-2x" aria-hidden="true"></i>
                        </div>
                    </li>     
                    <li class="list-group-item active listeli" >
                        <div class="statut">
                            <i class="fa fa-check statuticon fa-2x" aria-hidden="true"></i>
                            <p class="statuttext">Open</p>
                        </div>
                        <div class="titleclient">
                        <h6 class="list-group-item-heading tittleRequirement">J'ai besoin d'aide</h6>
                        <p class="list-group-item-text nameclient">Jean Michel</p>
                        </div>
                        <div class="listeboutton">
                        <p class="daterequirement">03/10/2017</p>
                            <i class="fa fa-pencil iconpencil fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-trash icontrash fa-2x" aria-hidden="true"></i>
                        </div>
                    </li>     
                    <li class="list-group-item active listeli" >
                        <div class="statut">
                            <i class="fa fa-check statuticon fa-2x" aria-hidden="true"></i>
                            <p class="statuttext">Open</p>
                        </div>
                        <div class="titleclient">
                        <h6 class="list-group-item-heading tittleRequirement">J'ai besoin d'aide</h6>
                        <p class="list-group-item-text nameclient">Jean Michel</p>
                        </div>
                        <div class="listeboutton">
                        <p class="daterequirement">03/10/2017</p>
                            <i class="fa fa-pencil iconpencil fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-trash icontrash fa-2x" aria-hidden="true"></i>
                        </div>
                    </li>     
        
                </ul>
            </div>
            
        </div>
    </body>
</html>
