/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 oct. 2017, 18:39:40
    Author     : Baboon
*/

a:hover {
    text-decoration: none;
}

.fix {
    width: 100%;
    height: 20px;
    clear: both;
}

html, body{
    background: #212635;
}
.container{
    background-color:#f6f6f6;
    max-width: 100%;
}
/*<editor-fold desc="PAGE LOGIN">
--------------------------------*/
.logincontent{
    background-color: #31374a;
    position: relative;
    display: block;
}
.loginlogo{
    display:block;
    margin: 0 auto;
    padding: 32px 0 0;
}
.loginline{
    width:100px;
    border-top: 2px solid #fd8224;
    margin-bottom: 30px;
    margin-top: 30px;
}
.formlogin{
    display:block;
    margin: 0 auto;  
    width:80%;
}
.loginfield{
    width:100%;
    max-width: inherit;
    margin-bottom: 20px;
}
.logintext{
    border:1px solid #fd8224;
    color:white;
    background-color: #31374a;
}
.loginbutton{
    display:block;
    width: 150px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fd8224;
    color:#fff;
}

.forgotpassword{
    color: #fd8224;
    display: block;
    text-align: center;
    padding-bottom: 10%;
}

@media (min-width: 1025px)
{
    .formlogin{
        width: 30%;
    }
}
/*</editor-fold>*/

/*<editor-fold desc="PAGE LISTE BESOIN">
---------------------------------------*/

.header{
    background-color: #31374a;
    width: 100%;
}
.listetitle{
    display: block;
    color: #fd8224;
    margin: 0 auto;
    padding: 16px 0 16px 12px;
}

.btnajout, .btndisconnect{
    display: block;
    float:right;
    margin-right: 16px;
    color: #fd8224;
}

.searchbar{
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 80%;
}
.listeul{
    width:100%;
    margin: 0 auto 20px;
    padding-left: 0px;
}
.listeli{
    background-color: #fff !important;
    color: #17171a !important;
    margin-bottom: 10px;
    border-color: #fff !important;
    border-radius: 10px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.list-group {
}
.statut{
    display: inline-block;
    width: 40px;;
}
.statuticon{
    color: #fd8224;
}
.titleclient{
    display: inline-block;
    min-width: 150px;
}
.tittleRequirement{
    display:block;
    
}
.nameclient{
    color: #777777;
    display: block;
    position:relative;
    font-size:12px;
}
.daterequirement{
    display: block;
    
}
.listeboutton{
    display: inline-block;
    position: relative;
    width: 70px;
    text-align: left;
    float: right;
}
.iconpencil{
    display: inline-block;
    margin-right: 20px;
        
}
.icontrash{
    display: inline-block;
}
/*</editor-fold>*/

/*<editor-fold desc="PAGE AJOUT BESOINS">
----------------------------------------*/
.contentajoutbesoin{
    padding-bottom: 25px;
    padding-top: 25px;
}
.btnfix{
    background-color: #fff;
    width: 100%;
    text-align: center;
    margin: 32px auto;
    width: 90%;
    border-radius: 4px;
    border: 3px solid #efefef;

}


.btncancel{
    display: inline-block;
    position: relative;
    padding: 12px 0 0;

}
.btncancel .btn{
    display: block;
    margin: 0 auto;
}
.btnsaveandshare{
    display: inline-block;  
    position: relative;
    padding: 12px 0;


}
.btnsaveandshare .btn{
    display: block;
    background-color: #fd8224;
}
/*</editor-fold>*/



footer {
    color: #4d5775;
    background: #212635;
    padding: 24px;
    font-size: 13px;
}

footer p {
    margin: 0;
    text-align: center;
}

footer nav ul {
    margin: 0;
}

footer nav ul li {
    list-style: none;
    display: block;
    float: left;
    margin: 0 12px 0 0;
}

.pagetitle {
    color: #fff;
}

.separator {
    color: #ccc;
}

a.button {
    padding: 12px 16px;
    background: #fd8224;
    color: #ffffff;
    border-radius: 3px;
}

.loginmailgfi {
    color: #333;
    background: #fd8224;
}