/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 oct. 2017, 18:39:40
    Author     : Baboon
*/


html, body{
    height: 100%;
}
.container{
    display:block;
    background-color:#f6f6f6;
    min-height: 100%;
    max-width: 100%;
}
/*<editor-fold desc="PAGE LOGIN">
--------------------------------*/
.logincontent{
    background-color: #31374a;
    position: relative;
    display: block;
    min-height: 100%;
}
.loginlogo{
    display:block;
    margin: 0 auto;
}
.loginline{
    width:80%;
    border-top: 2px solid #fd8224;
    margin-bottom: 30px;
    margin-top: 30px;
}
.formlogin{
    display:block;
    margin: 0 auto;  
    width:80%;
}
.loginfield{
    width:100%;
    max-width: inherit;
    margin-bottom: 20px;
}
.logintext{
    border:1px solid #fd8224;
    color:white;
    background-color: #31374a;
}
.loginbutton{
    display:block;
    width: 150px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fd8224;
    color:#fff;
}

.forgotpassword{
    color: #fd8224;
    display: block;
    text-align: center;
    padding-bottom: 10%;
}

@media (min-width: 1025px)
{
    .formlogin{
        width: 30%;
    }
    .loginline {
        width: 45%;
    }
}
/*</editor-fold>*/

/*<editor-fold desc="PAGE LISTE BESOIN">
---------------------------------------*/

.header{
    background-color: #31374a;
    width: 100%;
}
.listetitle{
    display: block;
    color: #fd8224;
    margin: 0 auto;
    
    padding: 16px 0;
    text-align: center;
}

.btnajout, .btndisconnect{
    display: block;
    float:right;
    margin-top: 3px;
    margin-right: 15px;
    color: #fd8224;
}

.searchbar{
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 80%;
}
.listeul{
    width:100%;
    margin: 0 auto;
    padding-left: 0px;
}
.listeli{
    background-color: #fff !important;
    color: #17171a !important;
    margin-bottom: 10px;
    border-color: #fff !important;
    border-radius: 10px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.statut{
    display: inline-block;
    width: 40px;;
}
.statuticon{
    color: #fd8224;
}
.titleclient{
    display: inline-block;
    min-width: 150px;
}
.tittleRequirement{
    display:block;
    
}
.nameclient{
    color: #777777;
    display: block;
    position:relative;
    font-size:12px;
}
.daterequirement{
    display: block;
    
}
.listeboutton{
    display: inline-block;
    position: relative;
    width: 70px;
    text-align: left;
    float: right;
}
.iconpencil{
    display: inline-block;
    margin-right: 20px;
        
}
.icontrash{
    display: inline-block;
}
/*</editor-fold>*/

/*<editor-fold desc="PAGE AJOUT BESOINS">
----------------------------------------*/
.contentajoutbesoin{
    padding-bottom: 100px;
    padding-top: 25px;
}
.btnfix{
    position: fixed;
    bottom: 0px;
    left:0px;
    background-color: #31374a;
    width: 100%;
    height: 75px;
    
}
.btncancel{
    display: inline-block;
    position: relative;
    width: 49%;
    padding-top: 15px;
    max-width: 500px;

}
.btncancel .btn{
    display: block;
    margin: 0 auto;
}
.btnsaveandshare{
    display: inline-block;  
    position: relative;
    width:49%;
    padding-top: 15px;
    max-width: 500px;

}
.btnsaveandshare .btn{
    display: block;
    margin: 0 auto;
    background-color: #fd8224;
}
/*</editor-fold>*/



footer {
    color: #212635;
    padding: 24px;
    font-size: 13px;
}

footer p {
    margin: 0;
    text-align: center;
}

footer nav ul {
    margin: 0;
}

footer nav ul li {
    list-style: none;
    display: block;
    float: left;
    margin: 0 12px 0 0;
}

